// System Colors
$white: #ffffff;
$primary: #222222;
$required: #b40000;
$secondary: #646464;
$blue: #2f4d6f;
$no-severity: #505f79;
// $mid-severity: #ffc965;
$high-severity: #f25b2a;
$hover-blue: #27425a;
$gray280: #fcfcfc;
$gray270: #fafafa;
$gray265: #f8f8f8;
$gray260: #f5f5f5;
$gray250: #ebebeb;
$gray240: #f0f0f0;
$gray235: #ebebeb;
$gray230: #e6e6e6;
$gray225: #d8dadc;
$gray220: #dcdcdc;
$gray200: #c8c8c8;
$gray150: #969696;

// Other colors
$lighter-blue: #45607e;
$light-blue: #8294a8;
$blue200: #a1aebe;
$blue300: #2e4c6e;
$blue350: #607d8b;
$blue400: #6c8199;
$blue500: #2b4058;
$black033: #00000033;
$black029: #00000029;
$black04D: #0000004d;
$dark-red: #960000;
