@import '../../styles/colors.scss';
@import '../../styles/global';

.m-tooltip {
  z-index: 9999;
  transform: translate(-50%, -100%);
  width: max-content;
  background-color: $blue;
  font-size: 0.8rem;
  box-shadow: 0 3px 3px $black04D;
  border-radius: 10px;
  position: absolute;
  font-family: inherit;
  font-style: inherit;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  display: inline-block;

  &.top {
    margin-top: -10px;

    .m-tooltip-arrow {
      top: auto;
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: $blue;
    }
  }

  &.right {
    margin-top: -8px;
    margin-left: 0.6rem;
    transform: translate(-17px, -100%);

    .m-tooltip-arrow {
      transform: rotate(90deg);
      top: auto;
      bottom: calc(50% - 2px);
      left: 0;
      margin-left: -7px;
      border-width: 5px 5px 0;
      border-top-color: $blue;
    }
  }

  .m-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: $blue;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
  }

  .m-tooltip-inner {
    max-width: 250px;
    padding: $spacing-unit-8 / 2 + 1 $spacing-unit-8 * 2;
    color: $white;
    text-align: center;
    background-color: $blue;
    border-radius: 4px;
  }
}
