@import '../../styles/colors';

@import '../../styles/colors.scss';

.p-tooltip {
  z-index: 1101 !important;
  .p-tooltip-arrow {
    display: none !important;
  }
  .p-tooltip-text {
    min-width: 250px !important;
    max-width: 250px !important;
    padding: 5px 16px !important;
    text-align: center !important;
    color: #ffffff !important;
    background-color: $blue !important;
    border-radius: 4px !important;

    .title {
      font-size: 0.75rem;
      font-weight: 600;
    }

    .content {
      font-size: 0.75rem;
      font-weight: normal;
    }
  }
}

.m-help-tooltip-icon {
  float: right;
  padding: 8px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  transition: all 0.1s ease-in-out;

  img {
    height: 18px;
    width: 18px;
  }
}
