@import '../../styles/colors';
@import '../../styles/mixins';

@mixin table-separator {
  position: absolute;
  content: '';
  width: 1px;
  height: 62%;
  background: $gray230;
  right: 0;
  top: 10px;
}

#m-data-table {
  height: 100%;

  * {
    outline: none;
    box-shadow: none;
  }

  .p-datatable .p-datatable-scrollable-header {
    background-color: white;
  }

  button {
    &:hover {
      background: none;
    }
  }

  .p-inputtext.p-component.p-column-filter {
    color: $primary;
    font-family: inherit;
    font-weight: 500;

    &.p-filled {
      font-style: inherit;
    }
  }

  .m-header-table {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .p-component {
    font-family: inherit;
  }

  .p-datatable:not(.no-separators) {
    tr:not(.p-datatable-emptymessage) > td {
      &::after {
        @include table-separator;
      }
    }
  }

  .p-datatable {
    .p-datatable-tbody > tr:not(.p-datatable-emptymessage) > td::after {
      @include table-separator;
    }

    tr > td {
      padding: 0.8rem 0.8rem;
      position: relative;
    }

    .p-datatable-thead {
      tr:nth-child(2) {
        th {
          padding: 0.6rem 0.6rem;
        }
      }

      .p-sortable-column-icon {
        position: absolute;
        right: 2%;
        top: 38%;
      }

      .p-column-title {
        float: none;
      }

      .p-sortable-disabled {
        opacity: 0.4;
      }

      .pi-sort-alt,
      .pi-sort-amount-down {
        background-image: url('../assets/icons/table/sort-descending-icon.svg');
        height: 11px;
        background-size: 0.8rem;
      }

      .pi-sort-alt {
        filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(191deg)
          brightness(99%) contrast(90%);
      }

      .pi-sort-amount-up-alt {
        background-image: url('../assets/icons/table/sort-ascending-icon.svg');
        height: 11px;
        background-size: 0.8rem;
      }

      .pi-sort-amount-down,
      .pi-sort-amount-up-alt,
      .pi-sort-alt {
        background-repeat: no-repeat;

        &:before {
          content: '';
        }
      }
    }

    .p-datatable-thead > tr > th {
      vertical-align: top;
      text-align: center;
      font-size: 0.82rem;
      position: relative;
      border-width: 0 0 1px 0;
      background: none;
      color: $primary;
    }

    .p-datatable-thead > tr > th::after {
      @include table-separator;
    }

    .p-inputtext {
      width: 97%;
      height: 32px;
      border: 1px solid $gray230;
      color: $gray150;
      font-style: italic;
      font-size: 12px;
      font-weight: 300;

      &:focus {
        box-shadow: none;
        border-color: $gray150;
      }
    }
  }

  .p-paginator {
    font-size: 0.7rem;
    font-weight: 500;
    color: $primary;
    border-width: 0;
    padding-bottom: 0;

    .p-link {
      font-family: inherit;
      font-size: 0.7rem;
    }

    .p-paginator-element {
      color: $primary;
    }
  }
}
